@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

header {
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  .header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 96px;
    padding: 0 16px;
    border-bottom: 1px solid #fdc000;
    .left-container {
      display: flex;
      align-items: center;
      color: #fdc000;
      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: #000000;
        font-size: 25px;
        padding-right: 16px;
        img {
          padding-right: 10px;
        }
        span {
          &:nth-child(2) {
            color: #fdc000;
          }
          &:nth-child(3) {
            color: #000000;
          }
        }
      }
      h1 {
        padding-left: 16px;
        border-left: 1px solid #fdc000;
      }
    }
    .right-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.main-search {
  margin: 30px 96px;
  padding: 82px 16px;
  text-align: center;
  display: block;
  h2 {
    margin: 20px 0;
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
  }
  .site-phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    img {
      padding-right: 10px;
    }
    span {
      &:nth-child(2) {
        color: #fdc000;
      }
    }
  }
  .input-container {
    margin: 30px 0;
    .input-search {
      padding: 5px;
      width: 500px;
      font-size: 13px;
      height: 36px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #fee080;
        outline: 0;
      }
    }
    .btn-container-type,
    .btn-container-years {
      margin-top: 30px;
      .btn-switch {
        padding: 0 16px;
        width: auto;
        height: 36px;
        margin-left: 16px;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 20px;
        box-shadow: inset 0 0 0 1px #ced4da;
        background-color: #fff;
        opacity: 1;
        cursor: pointer;
      }
      .active {
        color: #fdc000;
        box-shadow: inset 0 0 0 2px #fdc000;
      }
    }
    .btn-search {
      width: 120px;
      height: 50px;
      font-weight: 700;
      background-color: #fdc000;
      border: 1px solid #ced4da;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.search-container {
  display: none;
  .movie-type {
    margin-top: 12px;
    margin-left: 100px;
    font-size: 30px;
    color: #fdc000;
  }

  .movie-count {
    // margin-top: 15px;
    margin-left: 100px;
    font-size: 20px;
  }

  .movie-container {
    background-color: #e9ecef;
    margin: 30px 96px;
    margin-top: 20px;
    border-radius: 4px;
    text-align: center;
    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 50px;
        height: 50px;
        color: #fdc000;
        animation: progress-circular-rotate 1.4s linear infinite;
        circle {
          animation: progress-circular-dash 1.4s ease-in-out infinite;
          fill: transparent;
          stroke-linecap: round;
          stroke-dasharray: 80, 200;
          stroke-dashoffset: 0px;
          stroke: currentColor;
        }
      }
    }
    @keyframes progress-circular-rotate {
      to {
        transform: rotate(1turn);
      }
    }
    @keyframes progress-circular-dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0px;
      }
      50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px;
      }
      to {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -124px;
      }
    }
    .loader-hidden {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
    .movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 0;
      gap: 0 10px;
      .movie {
        width: 230px;
        height: 345px;
        margin: 10px;
        margin-bottom: 50px;
        text-decoration: none;
        color: #292a32;
        img {
          border-radius: 4px;
          border: 5px solid transparent;
          &:hover {
            border-color: #fdc000;
          }
        }
        .info {
          width: 100%;
          text-align: center;
          line-height: 1.35;
          .movie-title {
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .movie-year {
            color: #d3a50e;
          }
        }
      }
    }
  }
}

footer {
  span {
    &:first-child {
      color: #fdc000;
    }
  }
  .copyright-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  text-align: center;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
